html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  border-radius: 13px; }

.button {
  background-color: #009b9e;
  color: white;
  cursor: pointer;
  padding: 13px 19px;
  border: 1px solid #00d1b2; }

.button:hover {
  background-color: #009e86; }
