@keyframes button-spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 auto; }

.column {
  flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #d9d9d9; }

.row {
  flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #d9d9d9; }

.rows > .grow-1 {
  flex: none;
  flex-basis: 8.33333%; }

.rows > .grow-offset-1 {
  margin-left: 8.33333%; }

.rows > .grow-2 {
  flex: none;
  flex-basis: 16.66667%; }

.rows > .grow-offset-2 {
  margin-left: 16.66667%; }

.rows > .grow-3 {
  flex: none;
  flex-basis: 25%; }

.rows > .grow-offset-3 {
  margin-left: 25%; }

.rows > .grow-4 {
  flex: none;
  flex-basis: 33.33333%; }

.rows > .grow-offset-4 {
  margin-left: 33.33333%; }

.rows > .grow-5 {
  flex: none;
  flex-basis: 41.66667%; }

.rows > .grow-offset-5 {
  margin-left: 41.66667%; }

.rows > .grow-6 {
  flex: none;
  flex-basis: 50%; }

.rows > .grow-offset-6 {
  margin-left: 50%; }

.rows > .grow-7 {
  flex: none;
  flex-basis: 58.33333%; }

.rows > .grow-offset-7 {
  margin-left: 58.33333%; }

.rows > .grow-8 {
  flex: none;
  flex-basis: 66.66667%; }

.rows > .grow-offset-8 {
  margin-left: 66.66667%; }

.rows > .grow-9 {
  flex: none;
  flex-basis: 75%; }

.rows > .grow-offset-9 {
  margin-left: 75%; }

.rows > .grow-10 {
  flex: none;
  flex-basis: 83.33333%; }

.rows > .grow-offset-10 {
  margin-left: 83.33333%; }

.rows > .grow-11 {
  flex: none;
  flex-basis: 91.66667%; }

.rows > .grow-offset-11 {
  margin-left: 91.66667%; }

.rows > .grow-12 {
  flex: none;
  flex-basis: 100%; }

.rows > .grow-offset-12 {
  margin-left: 100%; }

@media screen and (max-width: 768px) {
  .rows {
    display: block; }
  .rows.grow-mobile {
    display: flex;
    flex-direction: row; } }

.rows {
  display: flex;
  flex-direction: row; }

@media screen and (min-width: 769px) and (max-width: 999px) {
  .rows {
    display: flex;
    flex-direction: row; }
    .rows > .row.grow-tablet-1 {
      flex: none;
      flex-basis: 8.33333%; }
    .rows > .row.grow-offset-tablet-1 {
      margin-left: 8.33333%; }
    .rows > .row.grow-tablet-2 {
      flex: none;
      flex-basis: 16.66667%; }
    .rows > .row.grow-offset-tablet-2 {
      margin-left: 16.66667%; }
    .rows > .row.grow-tablet-3 {
      flex: none;
      flex-basis: 25%; }
    .rows > .row.grow-offset-tablet-3 {
      margin-left: 25%; }
    .rows > .row.grow-tablet-4 {
      flex: none;
      flex-basis: 33.33333%; }
    .rows > .row.grow-offset-tablet-4 {
      margin-left: 33.33333%; }
    .rows > .row.grow-tablet-5 {
      flex: none;
      flex-basis: 41.66667%; }
    .rows > .row.grow-offset-tablet-5 {
      margin-left: 41.66667%; }
    .rows > .row.grow-tablet-6 {
      flex: none;
      flex-basis: 50%; }
    .rows > .row.grow-offset-tablet-6 {
      margin-left: 50%; }
    .rows > .row.grow-tablet-7 {
      flex: none;
      flex-basis: 58.33333%; }
    .rows > .row.grow-offset-tablet-7 {
      margin-left: 58.33333%; }
    .rows > .row.grow-tablet-8 {
      flex: none;
      flex-basis: 66.66667%; }
    .rows > .row.grow-offset-tablet-8 {
      margin-left: 66.66667%; }
    .rows > .row.grow-tablet-9 {
      flex: none;
      flex-basis: 75%; }
    .rows > .row.grow-offset-tablet-9 {
      margin-left: 75%; }
    .rows > .row.grow-tablet-10 {
      flex: none;
      flex-basis: 83.33333%; }
    .rows > .row.grow-offset-tablet-10 {
      margin-left: 83.33333%; }
    .rows > .row.grow-tablet-11 {
      flex: none;
      flex-basis: 91.66667%; }
    .rows > .row.grow-offset-tablet-11 {
      margin-left: 91.66667%; }
    .rows > .row.grow-tablet-12 {
      flex: none;
      flex-basis: 100%; }
    .rows > .row.grow-offset-tablet-12 {
      margin-left: 100%; } }

@media screen and (min-width: 1000px) and (max-width: 1191px) {
  .rows {
    display: flex;
    flex-direction: row; }
    .rows > .row.grow-desktop-1 {
      flex: none;
      flex-basis: 8.33333%; }
    .rows > .row.grow-offset-desktop-1 {
      margin-left: 8.33333%; }
    .rows > .row.grow-desktop-2 {
      flex: none;
      flex-basis: 16.66667%; }
    .rows > .row.grow-offset-desktop-2 {
      margin-left: 16.66667%; }
    .rows > .row.grow-desktop-3 {
      flex: none;
      flex-basis: 25%; }
    .rows > .row.grow-offset-desktop-3 {
      margin-left: 25%; }
    .rows > .row.grow-desktop-4 {
      flex: none;
      flex-basis: 33.33333%; }
    .rows > .row.grow-offset-desktop-4 {
      margin-left: 33.33333%; }
    .rows > .row.grow-desktop-5 {
      flex: none;
      flex-basis: 41.66667%; }
    .rows > .row.grow-offset-desktop-5 {
      margin-left: 41.66667%; }
    .rows > .row.grow-desktop-6 {
      flex: none;
      flex-basis: 50%; }
    .rows > .row.grow-offset-desktop-6 {
      margin-left: 50%; }
    .rows > .row.grow-desktop-7 {
      flex: none;
      flex-basis: 58.33333%; }
    .rows > .row.grow-offset-desktop-7 {
      margin-left: 58.33333%; }
    .rows > .row.grow-desktop-8 {
      flex: none;
      flex-basis: 66.66667%; }
    .rows > .row.grow-offset-desktop-8 {
      margin-left: 66.66667%; }
    .rows > .row.grow-desktop-9 {
      flex: none;
      flex-basis: 75%; }
    .rows > .row.grow-offset-desktop-9 {
      margin-left: 75%; }
    .rows > .row.grow-desktop-10 {
      flex: none;
      flex-basis: 83.33333%; }
    .rows > .row.grow-offset-desktop-10 {
      margin-left: 83.33333%; }
    .rows > .row.grow-desktop-11 {
      flex: none;
      flex-basis: 91.66667%; }
    .rows > .row.grow-offset-desktop-11 {
      margin-left: 91.66667%; }
    .rows > .row.grow-desktop-12 {
      flex: none;
      flex-basis: 100%; }
    .rows > .row.grow-offset-desktop-12 {
      margin-left: 100%; } }

@media screen and (min-width: 1192px) and (max-width: 1383px) {
  .rows {
    display: flex;
    flex-direction: row; }
    .rows > .row.grow-widescreen-1 {
      flex: none;
      flex-basis: 8.33333%; }
    .rows > .row.grow-offset-widescreen-1 {
      margin-left: 8.33333%; }
    .rows > .row.grow-widescreen-2 {
      flex: none;
      flex-basis: 16.66667%; }
    .rows > .row.grow-offset-widescreen-2 {
      margin-left: 16.66667%; }
    .rows > .row.grow-widescreen-3 {
      flex: none;
      flex-basis: 25%; }
    .rows > .row.grow-offset-widescreen-3 {
      margin-left: 25%; }
    .rows > .row.grow-widescreen-4 {
      flex: none;
      flex-basis: 33.33333%; }
    .rows > .row.grow-offset-widescreen-4 {
      margin-left: 33.33333%; }
    .rows > .row.grow-widescreen-5 {
      flex: none;
      flex-basis: 41.66667%; }
    .rows > .row.grow-offset-widescreen-5 {
      margin-left: 41.66667%; }
    .rows > .row.grow-widescreen-6 {
      flex: none;
      flex-basis: 50%; }
    .rows > .row.grow-offset-widescreen-6 {
      margin-left: 50%; }
    .rows > .row.grow-widescreen-7 {
      flex: none;
      flex-basis: 58.33333%; }
    .rows > .row.grow-offset-widescreen-7 {
      margin-left: 58.33333%; }
    .rows > .row.grow-widescreen-8 {
      flex: none;
      flex-basis: 66.66667%; }
    .rows > .row.grow-offset-widescreen-8 {
      margin-left: 66.66667%; }
    .rows > .row.grow-widescreen-9 {
      flex: none;
      flex-basis: 75%; }
    .rows > .row.grow-offset-widescreen-9 {
      margin-left: 75%; }
    .rows > .row.grow-widescreen-10 {
      flex: none;
      flex-basis: 83.33333%; }
    .rows > .row.grow-offset-widescreen-10 {
      margin-left: 83.33333%; }
    .rows > .row.grow-widescreen-11 {
      flex: none;
      flex-basis: 91.66667%; }
    .rows > .row.grow-offset-widescreen-11 {
      margin-left: 91.66667%; }
    .rows > .row.grow-widescreen-12 {
      flex: none;
      flex-basis: 100%; }
    .rows > .row.grow-offset-widescreen-12 {
      margin-left: 100%; } }

@media screen and (min-width: 1384px) {
  .rows {
    display: flex;
    flex-direction: row; }
    .rows > .row.grow-fullhd-1 {
      flex: none;
      flex-basis: 8.33333%; }
    .rows > .row.grow-offset-fullhd-1 {
      margin-left: 8.33333%; }
    .rows > .row.grow-fullhd-2 {
      flex: none;
      flex-basis: 16.66667%; }
    .rows > .row.grow-offset-fullhd-2 {
      margin-left: 16.66667%; }
    .rows > .row.grow-fullhd-3 {
      flex: none;
      flex-basis: 25%; }
    .rows > .row.grow-offset-fullhd-3 {
      margin-left: 25%; }
    .rows > .row.grow-fullhd-4 {
      flex: none;
      flex-basis: 33.33333%; }
    .rows > .row.grow-offset-fullhd-4 {
      margin-left: 33.33333%; }
    .rows > .row.grow-fullhd-5 {
      flex: none;
      flex-basis: 41.66667%; }
    .rows > .row.grow-offset-fullhd-5 {
      margin-left: 41.66667%; }
    .rows > .row.grow-fullhd-6 {
      flex: none;
      flex-basis: 50%; }
    .rows > .row.grow-offset-fullhd-6 {
      margin-left: 50%; }
    .rows > .row.grow-fullhd-7 {
      flex: none;
      flex-basis: 58.33333%; }
    .rows > .row.grow-offset-fullhd-7 {
      margin-left: 58.33333%; }
    .rows > .row.grow-fullhd-8 {
      flex: none;
      flex-basis: 66.66667%; }
    .rows > .row.grow-offset-fullhd-8 {
      margin-left: 66.66667%; }
    .rows > .row.grow-fullhd-9 {
      flex: none;
      flex-basis: 75%; }
    .rows > .row.grow-offset-fullhd-9 {
      margin-left: 75%; }
    .rows > .row.grow-fullhd-10 {
      flex: none;
      flex-basis: 83.33333%; }
    .rows > .row.grow-offset-fullhd-10 {
      margin-left: 83.33333%; }
    .rows > .row.grow-fullhd-11 {
      flex: none;
      flex-basis: 91.66667%; }
    .rows > .row.grow-offset-fullhd-11 {
      margin-left: 91.66667%; }
    .rows > .row.grow-fullhd-12 {
      flex: none;
      flex-basis: 100%; }
    .rows > .row.grow-offset-fullhd-12 {
      margin-left: 100%; } }

span.icon {
  display: inline-block;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.button {
  color: rgba(0, 0, 0, 0.95);
  background-color: #dbdbdb;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: 1px solid transparent;
  vertical-align: baseline;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 500;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none; }
  .button.no-curve {
    border-radius: 0px; }
  .button.outline, .button.outline-hovered {
    background-color: transparent;
    border: 1px solid #dbdbdb; }
  .button.outline:hover {
    background-color: transparent;
    border: 1px solid #8f8f8f; }
  .button.outline:active {
    box-shadow: none; }
  .button.outline-hovered:hover {
    background-color: #dbdbdb;
    border: 1px solid #dbdbdb; }
  .button.outline-hovered:active {
    background-color: #a8a8a8; }
  .button:hover {
    background-color: #c2c2c2; }
  .button:active {
    background-color: #a8a8a8;
    box-shadow: 6px 6px 9px 10px #a8a8a8 inset, 2px 3px 2px 0px #a8a8a8 inset; }
  .button:focus {
    background-color: #c2c2c2; }
  .button.loading {
    position: relative;
    color: transparent;
    cursor: default;
    pointer-events: none !important; }
    .button.loading:after {
      position: absolute;
      content: '';
      top: 46%;
      left: 48%;
      margin: -.64285714em 0 0 -.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      -webkit-animation: button-spinner .6s linear;
      animation: button-spinner .6s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: transparent transparent transparent transparent;
      border-style: solid;
      border-width: .2em;
      box-shadow: 0 0 0 1px transparent;
      border-color: rgba(5, 5, 5, 0.95) rgba(204, 204, 204, 0.95) rgba(204, 204, 204, 0.95) rgba(204, 204, 204, 0.95) !important; }
  .button.disabled {
    cursor: default;
    opacity: 0.45 !important;
    background-image: none !important;
    box-shadow: none !important;
    pointer-events: none !important;
    cursor: not-allowed !important; }
  .button.mini {
    font-size: 0.78571rem; }
  .button.tiny {
    font-size: 0.85714rem; }
  .button.small {
    font-size: 0.92857rem; }
  .button.medium {
    font-size: 1rem; }
  .button.large {
    font-size: 1.14286rem; }
  .button.big {
    font-size: 1.28571rem; }
  .button.huge {
    font-size: 1.42857rem; }
  .button.white {
    color: #0a0a0a;
    background-color: white; }
    .button.white:hover {
      background-color: #e6e6e6; }
    .button.white:active {
      background-color: #cccccc;
      box-shadow: 6px 6px 9px 10px #cccccc inset, 2px 3px 2px 0px #cccccc inset; }
    .button.white:focus {
      background-color: #e6e6e6; }
    .button.white.loading {
      color: transparent; }
      .button.white.loading:after {
        border-color: white white white white !important; }
    .button.white.loading:hover, .button.white.loading:active .button.white.loading:focus {
      color: transparent !important; }
    .button.white.outline, .button.white.outline-hovered {
      background-color: transparent;
      border: 1px solid white;
      color: white; }
      .button.white.outline.loading, .button.white.outline-hovered.loading {
        color: transparent; }
        .button.white.outline.loading:after, .button.white.outline-hovered.loading:after {
          border-color: #f7f7f7 white white white !important; }
    .button.white.outline:hover {
      background-color: transparent;
      border: 1px solid #b3b3b3; }
    .button.white.outline:active {
      box-shadow: none;
      border: 1px solid white;
      color: #cccccc; }
    .button.white.outline-hovered:hover {
      background-color: white;
      border: 1px solid white;
      color: #0a0a0a; }
    .button.white.outline-hovered:active {
      background-color: #cccccc; }
  .button.black {
    color: white;
    background-color: #0a0a0a; }
    .button.black:hover {
      background-color: black; }
    .button.black:active {
      background-color: black;
      box-shadow: 6px 6px 9px 10px black inset, 2px 3px 2px 0px black inset; }
    .button.black:focus {
      background-color: black; }
    .button.black.loading {
      color: transparent; }
      .button.black.loading:after {
        border-color: #f0f0f0 #171717 #171717 #171717 !important; }
    .button.black.loading:hover, .button.black.loading:active .button.black.loading:focus {
      color: transparent !important; }
    .button.black.outline, .button.black.outline-hovered {
      background-color: transparent;
      border: 1px solid #0a0a0a;
      color: #0a0a0a; }
      .button.black.outline.loading, .button.black.outline-hovered.loading {
        color: transparent; }
        .button.black.outline.loading:after, .button.black.outline-hovered.loading:after {
          border-color: #030303 #575757 #575757 #575757 !important; }
    .button.black.outline:hover {
      background-color: transparent;
      border: 1px solid black; }
    .button.black.outline:active {
      box-shadow: none;
      border: 1px solid #242424;
      color: black; }
    .button.black.outline-hovered:hover {
      background-color: #0a0a0a;
      border: 1px solid #0a0a0a;
      color: white; }
    .button.black.outline-hovered:active {
      background-color: black; }
  .button.light {
    color: #363636;
    background-color: whitesmoke; }
    .button.light:hover {
      background-color: #dbdbdb; }
    .button.light:active {
      background-color: #c2c2c2;
      box-shadow: 6px 6px 9px 10px #c2c2c2 inset, 2px 3px 2px 0px #c2c2c2 inset; }
    .button.light:focus {
      background-color: #dbdbdb; }
    .button.light.loading {
      color: transparent; }
      .button.light.loading:after {
        border-color: white white white white !important; }
    .button.light.loading:hover, .button.light.loading:active .button.light.loading:focus {
      color: transparent !important; }
    .button.light.outline, .button.light.outline-hovered {
      background-color: transparent;
      border: 1px solid whitesmoke;
      color: whitesmoke; }
      .button.light.outline.loading, .button.light.outline-hovered.loading {
        color: transparent; }
        .button.light.outline.loading:after, .button.light.outline-hovered.loading:after {
          border-color: #ededed white white white !important; }
    .button.light.outline:hover {
      background-color: transparent;
      border: 1px solid #a8a8a8; }
    .button.light.outline:active {
      box-shadow: none;
      border: 1px solid white;
      color: #c2c2c2; }
    .button.light.outline-hovered:hover {
      background-color: whitesmoke;
      border: 1px solid whitesmoke;
      color: #363636; }
    .button.light.outline-hovered:active {
      background-color: #c2c2c2; }
  .button.dark {
    color: whitesmoke;
    background-color: #363636; }
    .button.dark:hover {
      background-color: #1c1c1c; }
    .button.dark:active {
      background-color: #030303;
      box-shadow: 6px 6px 9px 10px #030303 inset, 2px 3px 2px 0px #030303 inset; }
    .button.dark:focus {
      background-color: #1c1c1c; }
    .button.dark.loading {
      color: transparent; }
      .button.dark.loading:after {
        border-color: white #424242 #424242 #424242 !important; }
    .button.dark.loading:hover, .button.dark.loading:active .button.dark.loading:focus {
      color: transparent !important; }
    .button.dark.outline, .button.dark.outline-hovered {
      background-color: transparent;
      border: 1px solid #363636;
      color: #363636; }
      .button.dark.outline.loading, .button.dark.outline-hovered.loading {
        color: transparent; }
        .button.dark.outline.loading:after, .button.dark.outline-hovered.loading:after {
          border-color: #2e2e2e #828282 #828282 #828282 !important; }
    .button.dark.outline:hover {
      background-color: transparent;
      border: 1px solid black; }
    .button.dark.outline:active {
      box-shadow: none;
      border: 1px solid #4f4f4f;
      color: #030303; }
    .button.dark.outline-hovered:hover {
      background-color: #363636;
      border: 1px solid #363636;
      color: whitesmoke; }
    .button.dark.outline-hovered:active {
      background-color: #030303; }
  .button.primary {
    color: #fff;
    background-color: #00d1b2; }
    .button.primary:hover {
      background-color: #009e86; }
    .button.primary:active {
      background-color: #006b5b;
      box-shadow: 6px 6px 9px 10px #006b5b inset, 2px 3px 2px 0px #006b5b inset; }
    .button.primary:focus {
      background-color: #009e86; }
    .button.primary.loading {
      color: transparent; }
      .button.primary.loading:after {
        border-color: white #00ebc7 #00ebc7 #00ebc7 !important; }
    .button.primary.loading:hover, .button.primary.loading:active .button.primary.loading:focus {
      color: transparent !important; }
    .button.primary.outline, .button.primary.outline-hovered {
      background-color: transparent;
      border: 1px solid #00d1b2;
      color: #00d1b2; }
      .button.primary.outline.loading, .button.primary.outline-hovered.loading {
        color: transparent; }
        .button.primary.outline.loading:after, .button.primary.outline-hovered.loading:after {
          border-color: #00c2a5 #6bffe9 #6bffe9 #6bffe9 !important; }
    .button.primary.outline:hover {
      background-color: transparent;
      border: 1px solid #003830; }
    .button.primary.outline:active {
      box-shadow: none;
      border: 1px solid #05ffda;
      color: #006b5b; }
    .button.primary.outline-hovered:hover {
      background-color: #00d1b2;
      border: 1px solid #00d1b2;
      color: #fff; }
    .button.primary.outline-hovered:active {
      background-color: #006b5b; }
  .button.info {
    color: #fff;
    background-color: #3273dc; }
    .button.info:hover {
      background-color: #205bbc; }
    .button.info:active {
      background-color: #184690;
      box-shadow: 6px 6px 9px 10px #184690 inset, 2px 3px 2px 0px #184690 inset; }
    .button.info:focus {
      background-color: #205bbc; }
    .button.info.loading {
      color: transparent; }
      .button.info.loading:after {
        border-color: white #4882e0 #4882e0 #4882e0 !important; }
    .button.info.loading:hover, .button.info.loading:active .button.info.loading:focus {
      color: transparent !important; }
    .button.info.outline, .button.info.outline-hovered {
      background-color: transparent;
      border: 1px solid #3273dc;
      color: #3273dc; }
      .button.info.outline.loading, .button.info.outline-hovered.loading {
        color: transparent; }
        .button.info.outline.loading:after, .button.info.outline-hovered.loading:after {
          border-color: #256ada #b5ccf2 #b5ccf2 #b5ccf2 !important; }
    .button.info.outline:hover {
      background-color: transparent;
      border: 1px solid #113164; }
    .button.info.outline:active {
      box-shadow: none;
      border: 1px solid #5e91e4;
      color: #184690; }
    .button.info.outline-hovered:hover {
      background-color: #3273dc;
      border: 1px solid #3273dc;
      color: #fff; }
    .button.info.outline-hovered:active {
      background-color: #184690; }
  .button.success {
    color: #fff;
    background-color: #23d160; }
    .button.success:hover {
      background-color: #1ca64c; }
    .button.success:active {
      background-color: #157a38;
      box-shadow: 6px 6px 9px 10px #157a38 inset, 2px 3px 2px 0px #157a38 inset; }
    .button.success:focus {
      background-color: #1ca64c; }
    .button.success.loading {
      color: transparent; }
      .button.success.loading:after {
        border-color: white #32dc6e #32dc6e #32dc6e !important; }
    .button.success.loading:hover, .button.success.loading:active .button.success.loading:focus {
      color: transparent !important; }
    .button.success.outline, .button.success.outline-hovered {
      background-color: transparent;
      border: 1px solid #23d160;
      color: #23d160; }
      .button.success.outline.loading, .button.success.outline-hovered.loading {
        color: transparent; }
        .button.success.outline.loading:after, .button.success.outline-hovered.loading:after {
          border-color: #21c45a #9fefbb #9fefbb #9fefbb !important; }
    .button.success.outline:hover {
      background-color: transparent;
      border: 1px solid #0d4e24; }
    .button.success.outline:active {
      box-shadow: none;
      border: 1px solid #48e07d;
      color: #157a38; }
    .button.success.outline-hovered:hover {
      background-color: #23d160;
      border: 1px solid #23d160;
      color: #fff; }
    .button.success.outline-hovered:active {
      background-color: #157a38; }
  .button.warning {
    color: rgba(0, 0, 0, 0.7);
    background-color: #ffdd57; }
    .button.warning:hover {
      background-color: #ffd324; }
    .button.warning:active {
      background-color: #f0c000;
      box-shadow: 6px 6px 9px 10px #f0c000 inset, 2px 3px 2px 0px #f0c000 inset; }
    .button.warning:focus {
      background-color: #ffd324; }
    .button.warning.loading {
      color: transparent; }
      .button.warning.loading:after {
        border-color: white #ffe270 #ffe270 #ffe270 !important; }
    .button.warning.loading:hover, .button.warning.loading:active .button.warning.loading:focus {
      color: transparent !important; }
    .button.warning.outline, .button.warning.outline-hovered {
      background-color: transparent;
      border: 1px solid #ffdd57;
      color: #ffdd57; }
      .button.warning.outline.loading, .button.warning.outline-hovered.loading {
        color: transparent; }
        .button.warning.outline.loading:after, .button.warning.outline-hovered.loading:after {
          border-color: #ffda47 #fffcf0 #fffcf0 #fffcf0 !important; }
    .button.warning.outline:hover {
      background-color: transparent;
      border: 1px solid #bd9700; }
    .button.warning.outline:active {
      box-shadow: none;
      border: 1px solid #ffe88a;
      color: #f0c000; }
    .button.warning.outline-hovered:hover {
      background-color: #ffdd57;
      border: 1px solid #ffdd57;
      color: rgba(0, 0, 0, 0.7); }
    .button.warning.outline-hovered:active {
      background-color: #f0c000; }
  .button.danger {
    color: #fff;
    background-color: #ff3860; }
    .button.danger:hover {
      background-color: #ff0537; }
    .button.danger:active {
      background-color: #d1002a;
      box-shadow: 6px 6px 9px 10px #d1002a inset, 2px 3px 2px 0px #d1002a inset; }
    .button.danger:focus {
      background-color: #ff0537; }
    .button.danger.loading {
      color: transparent; }
      .button.danger.loading:after {
        border-color: white #ff5274 #ff5274 #ff5274 !important; }
    .button.danger.loading:hover, .button.danger.loading:active .button.danger.loading:focus {
      color: transparent !important; }
    .button.danger.outline, .button.danger.outline-hovered {
      background-color: transparent;
      border: 1px solid #ff3860;
      color: #ff3860; }
      .button.danger.outline.loading, .button.danger.outline-hovered.loading {
        color: transparent; }
        .button.danger.outline.loading:after, .button.danger.outline-hovered.loading:after {
          border-color: #ff2954 #ffd1da #ffd1da #ffd1da !important; }
    .button.danger.outline:hover {
      background-color: transparent;
      border: 1px solid #9e0020; }
    .button.danger.outline:active {
      box-shadow: none;
      border: 1px solid #ff6b89;
      color: #d1002a; }
    .button.danger.outline-hovered:hover {
      background-color: #ff3860;
      border: 1px solid #ff3860;
      color: #fff; }
    .button.danger.outline-hovered:active {
      background-color: #d1002a; }

.icon.button {
  padding: .78571429em .78571429em .78571429em; }
