.column
  flex-grow: 1
  flex-basis: 0
  flex-shrink: 1
  box-sizing: border-box

.row
  flex-grow: 1
  flex-basis: 0
  flex-shrink: 1
  box-sizing: border-box

.columns
  & .row, & .column
    &.auto-grow
      flex-grow: initial
  &.layout-wrap
    flex-wrap: wrap

@for $i from 1 through 12
	.columns > &.grow-#{$i},
	   flex: none
	   flex-basis: ($i / 12) * 100%
	.columns > &.grow-offset-#{$i}
	   margin-left: ($i / 12) * 100%  

+mobile
 .columns
    display: block
 .columns.grow-mobile
    display: flex
    flex-direction: row

+tablet
  .columns
      display: flex
      flex-direction: row

+tablet-only
 .columns
    display: flex
    flex-direction: row

    @for $i from 1 through 12
      > .column.grow-tablet-#{$i},
        flex: none
        flex-basis: ($i / 12) * 100%
      > .column.grow-offset-tablet-#{$i}
        margin-left: ($i / 12) * 100%  


+desktop-only
 .columns
    display: flex
    flex-direction: row

    @for $i from 1 through 12
      > .column.grow-desktop-#{$i},
        flex: none
        flex-basis: ($i / 12) * 100%
      > .column.grow-offset-desktop-#{$i},
        margin-left: ($i / 12) * 100% 

+widescreen-only
 .columns
    display: flex
    flex-direction: row

    @for $i from 1 through 12
      > .column.grow-widescreen-#{$i},
        flex: none
        flex-basis: ($i / 12) * 100%
      > .column.grow-offset-widescreen-#{$i}
        margin-left: ($i / 12) * 100%  


+fullhd
 .columns
    display: flex
    flex-direction: row

    @for $i from 1 through 12
      > .column.grow-fullhd-#{$i},
        flex: none
        flex-basis: ($i / 12) * 100%
      > .column.grow-offset-fullhd-#{$i}
        margin-left: ($i / 12) * 100% 


