@keyframes navbar_toggle_menu_bar_start
	from
		transform: rotate(0deg)
  to
  	transform: rotate(-45deg)

@keyframes navbar_toggle_menu_bar_end
	from
		transform: rotate(0deg)
	to
		transform: rotate(45deg)

@keyframes nav_bar_menu_slide_down
	from
		transform: translateY(-5px)
		opacity: 0
	to
		transform: translateY(0px)
		opacity: 1

@keyframes loading_bar
	from
		left: 0
	to
		left: 100%
@keyframes progress_indicator
	0%
		width: 0
	100%
		width: 100%

@keyframes zoomIn
	from
		opacity: 0
		transform: scale3d(.3, .3, .3)
	to
		opacity: 1

@keyframes modalDarkBgfadeIn
	from
		opacity: 0
	to
		opacity: $modal-dark-bg-opacity

@keyframes modalLightBgfadeIn
	from
		opacity: 0
	to
		opacity: $modal-light-bg-opacity

@keyframes modalFlashBgfadeIn
	from
		opacity: 0
	to
		opacity: $modal-flash-bg-opacity

@keyframes toastAnimation
	from
		transform: translateY(10px)
		opacity: 0
	to
		transform: rotate(0)
		opacity: 1

