$nav-bg-color: #fff
$nav-color: #222


.navbar
	background-color: $nav-bg-color
	color: $nav-color
	display: flex
	height: 52px
	align-items: center
	& .nav-left
		flex-grow: 1
	& .nav-center
		flex-grow: 1
	& .nav-right
		flex-grow: 1