$side-nav-width: 300px



.nav-container
	display: flex
	flex-grow: 1
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	& .nav-content
		flex-grow: 1
		transition: .4s cubic-bezier(.25,.8,.25,1)
		overflow: auto
	& .back-drop
		background-color: #000
		opacity: 0.7
		display: none
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 1
	& .side-nav
		width: 300px
		height: 100%
		overflow-y: auto
		flex-direction: column
		position: relative
		background-color: #d9d9d9
		transition: .4s cubic-bezier(.25,.8,.25,1)
		margin-left: -$side-nav-width
		position: absolute
		z-index: 2
		max-width: 90%
	&.active
		& .side-nav
			margin-left: 0	
			position: relative


+until-tablet
	.nav-container
		&.active
			& .side-nav
				position: absolute
			& .back-drop
				display: block
		
		


