$sectn-padding: 15px
$sectn-padding-more: 30px
$sectn-advertisement-min-height: 150px
section, .section
	&:not(.top-space):not(.left-space):not(.bottom-space):not(.right-space)
		padding: $sectn-padding
	&.top-space
		padding-top: $sectn-padding
	&.left-space
		padding-left: $sectn-padding
	&.right-space
		padding-right: $sectn-padding
	&.bottom-space
		padding-bottom: $sectn-padding
	&.padding-more
		&:not(.top-space):not(.left-space):not(.bottom-space):not(.right-space)
			padding: $sectn-padding-more
		&.top-space
			padding-top: $sectn-padding-more
		&.left-space
			padding-left: $sectn-padding-more
		&.right-space
			padding-right: $sectn-padding-more
		&.bottom-space
			padding-bottom: $sectn-padding-more
	&.advertisement
		min-height: $sectn-advertisement-min-height
		display: flex
		position: relative
		flex-direction: column
		justify-content: center
		&.padding-more
			min-height: ($sectn-advertisement-min-height - $sectn-padding-more)
	@each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.#{$name}
    	background-color: $color
    	color: $color-invert