//default vars
$button-color: rgba(0,0,0,.95)
$button-background-color: $grey-lighter

$button-hover-darkness: 10%
$button-active-darkness: 20%
$button-outline-hover-border-darkness: 30%

$button-focus-darkness: $button-hover-darkness

//btn height
$btn-height :  2.25em
$btn-width: 3.25em
//sizes
$btn-mini : .78571429rem
$btn-tiny : .85714286rem
$btn-small : .92857143rem
$btn-medium : 1rem
$btn-large : 1.14285714rem
$btn-big : 1.28571429rem
$btn-huge : 1.42857143rem



//mixins
=btn-active-shadow($color, $darkness)
  box-shadow: 6px 6px 9px 10px darken($color, $darkness) inset, 2px 3px 2px 0px darken($color, $darkness) inset

.button
  color: $button-color
  background-color: $button-background-color
  display: inline-flex
  align-items: center
  justify-content: center
  min-height: 1em
  outline: 0
  border: 1px solid transparent
  vertical-align: baseline
  padding: 0 1em
  text-transform: none
  text-shadow: none
  font-weight: 500
  line-height: 1em
  font-style: normal
  text-align: center
  text-decoration: none
  border-radius: .28571429rem
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset
  transition: .1s all
  -webkit-tap-highlight-color: transparent
  cursor: pointer
  user-select: none
  vertical-align: top
  &:not(.icon)
   height: $btn-height
  &.gradient
    background-image: linear-gradient(180deg, $button-background-color 0%, lighten($button-background-color, 7%) 90%)
    &:hover
      background-image: linear-gradient(180deg, lighten($button-background-color, 3%) 0%, lighten($button-background-color, 10%) 90%)
    &:active
      box-shadow: none
      background-image: linear-gradient(180deg, lighten($button-background-color, 10%) 0%, lighten($button-background-color, 3%) 90%)
  &.square
   border-radius: 0px
  &.circle
    border-radius: 10em
  &.ripple
    position: relative
    overflow: hidden
    transform: translate3d(0, 0, 0)
    &:after
      content: ""
      display: block
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      pointer-events: none
      background-image: radial-gradient(circle, $button-color 10%, transparent 10.01%)
      background-repeat: no-repeat
      background-position: 50%
      transform: scale(10, 10)
      opacity: 0
      transition: transform .5s, opacity 1s
    &:active:after
      transform: scale(0, 0)
      opacity: .5
      transition: 0s
  &.raised
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
    &:active
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)!important
  &.label:not(.label-left)
    padding-right: 0px
  &.label.label-left
    padding-left: 0px
  &.label label
    height: inherit
    display: inline-flex
    align-items: center
    justify-content: center
    background: lighten($button-background-color, 15%)
    padding: 0 1em
    color: darken($button-background-color, 40%)
    &.loading
      color: transparent!important
      &:after
       +loading
       position: relative!important
       top: 12%
       left: -25%
       border-color: lighten($button-color, 2%) lighten($button-color, 80%) lighten($button-color, 80%) lighten($button-color, 80%) !important
  &.label:not(.label-left) label
    margin-left: 0.7em
    border-top-right-radius: inherit
    border-bottom-right-radius: inherit
  &.label.label-left label
    margin-right: 0.7em
    border-top-left-radius: inherit
    border-bottom-left-radius: inherit

  &.outline,  &.outline-hovered
   background-color: transparent
   border: 1px solid $button-background-color

  &.outline:hover
   background-color: transparent
   border: 1px solid darken($button-background-color, $button-outline-hover-border-darkness)	
  &.outline:active
   box-shadow: none

  &.outline-hovered:hover
     background-color: $button-background-color 
     border: 1px solid $button-background-color
     border-color: transparent
  &.outline-hovered:active
     background-color: darken($button-background-color , $button-active-darkness)
     border-color: transparent

  &:hover, &.active
   background-color: darken($button-background-color, $button-hover-darkness)

  &:active
   background-color: darken($button-background-color, $button-active-darkness)
   +btn-active-shadow($button-background-color, $button-active-darkness)
  &:focus
   background-color: darken($button-background-color, $button-focus-darkness)

  &.loading
    position: relative
    color: transparent
    cursor: default
    pointer-events: none!important
    &:after
      +loading
      border-color: lighten($button-color, 2%) lighten($button-color, 80%) lighten($button-color, 80%) lighten($button-color, 80%) !important
  &.label.loading:after
      left: 31%
  &.disabled
    cursor: default
    opacity: .45!important
    background-image: none!important
    box-shadow: none!important
    pointer-events: none!important
    cursor: not-allowed!important

  &.mini
    font-size: $btn-mini
  &.tiny
    font-size: $btn-tiny
  &.small
    font-size: $btn-small
  &.medium
    font-size: $btn-medium
  &.large
    font-size: $btn-large
  &.big
    font-size: $btn-big
  &.huge
    font-size: $btn-huge

  @for $i from 1 through 10
    &.grow-x-#{$i}
      width: $btn-width + $i
    &.grow-y-#{$i}
      height: $btn-height + $i

  @for $i from 0 through 10
    &.border-#{$i}
      border-width: $i!important

  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.#{$name}
      color: $color-invert
      background-color: $color
      &.gradient
        background-image: linear-gradient(180deg, $color 0%, lighten($color, 9%) 90%)
        &:hover
          background-image: linear-gradient(180deg, lighten($color, 3%) 0%, lighten($color, 12%) 90%)
        &:active
          box-shadow: none
          background-image: linear-gradient(180deg, lighten($color, 12%) 0%, lighten($color, 3%) 90%)
      &.ripple
        &:after
          background-image: radial-gradient(circle, $color-invert 10%, transparent 10.01%)
      &:hover, &.active
       background-color: darken($color, $button-hover-darkness)
      &:active
       background-color: darken($color, $button-active-darkness)
       +btn-active-shadow($color, $button-active-darkness)
      &:focus
       background-color: darken($color, $button-focus-darkness)

      &.loading
        color: transparent
        &:after
          border-color: lighten($color, 90%) lighten($color, 5%) lighten($color, 5%) lighten($color, 5%) !important
      &.loading:hover,  &.loading:active  &.loading:focus
        color: transparent!important
      &.label label.loading:after
        border-color: darken($color, 10%) lighten($color, 10%) lighten($color, 10%) lighten($color, 10%) !important

      &.outline, &.outline-hovered
       background-color: transparent
       border: 1px solid $color
       @if $color == white
        color: $color-invert
       @else
        color: darken($color, 10%)

       &.loading
         color: transparent
         &:after
          border-color: darken($color, 3%) lighten($color, 30%) lighten($color, 30%) lighten($color, 30%) !important

      &.outline:hover
         background-color: transparent
         border: 1px solid darken($color, $button-outline-hover-border-darkness)  
      &.outline:active
         box-shadow: none
         border: 1px solid lighten($color, 10%)
         color: darken($color, 20%)
      &.outline-hovered:hover
         background-color: $color 
         border: 1px solid $color
         color: $color-invert
         border-color: transparent
      &.outline-hovered:active
       background-color: darken($color, $button-active-darkness)  
       border-color: transparent

      &.label label
       background-color: lighten($color, 37%)
       color: darken($color, 27%) 

//icon button

.button.icon
    display: inline-flex !important
    height: 2.3em

    & .icon
      width: 1.68em



//button grps
.button-group
  display: inline-flex
  &.divider .button:not(.outline-hovered):not(.outline)
    border-right: 1px solid transparentize(#000000, 0.85)
    &:last-child
      border-right: 0px
  &.grow-items
    display: flex
    width: 100%
    align-items: center
    align-content: center
    justify-content: center
    & .button
      flex-grow: 1

  & .button
    margin: 0px
    &:not(:first-child):not(:last-child)
      border-radius: 0px!important
    &:first-child
      border-top-right-radius: 0px
      border-bottom-right-radius: 0px
    &:last-child
      border-top-left-radius: 0px
      border-bottom-left-radius: 0px
    &.outline, &.outline-hovered
      margin-left: -1px

//or button
.button-or
  display: inline-flex

  & .or
    display: inline-flex
    position: relative
    width: 0.2666em
    &:before
      position: absolute
      text-align: center
      border-radius: 500rem
      content: 'or'
      top: 50%
      left: 50%
      background-color: #fff
      text-shadow: none
      margin-top: -.89285714em
      margin-left: -.89285714em
      width: 1.78571429em
      height: 1.78571429em
      line-height: 1.65571429em
      color: rgba(0,0,0,.4)
      font-style: normal
      font-weight: 700
      box-shadow: 0 0 0 1px transparent inset
      z-index: 3
    &.square:before
      border-radius: 0px


  & .button
    margin: 0px
    &:first-child
      border-top-right-radius: 0px!important
      border-bottom-right-radius: 0px!important
    &:last-child
      border-top-left-radius: 0px!important
      border-bottom-left-radius: 0px!important






          

