.block
	width: 100%
.text-left
	text-align: left
.text-right
	text-align: right
.text-center
	text-align: center
.float-right
	float: right
.valign-top
	vertical-align: top
.valign-middle
	vertical-align: middle
.valign-bottom
	vertical-align: bottom

//wraping
.nowrap
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden


	//spaces
.space-x-1
	margin-right: 1px
	margin-left: 1px
.space-x-2
	margin-right: 2px
	margin-left: 2px
.space-x-3
	margin-right: 3px
	margin-left: 3px
.space-x-4
	margin-right: 4px
	margin-left: 4px
.space-x-5
	margin-right: 5px
	margin-left: 5px