span.icon:not(.button)
	display: inline-flex
	width: 1.18em
	height: 1em
	font-style: normal
	font-weight: 400
	text-decoration: inherit
	text-align: center
	speak: none
	align-items: center
	justify-content: center

span.icon:not(.button):first-child:not(:last-child)
      margin: 0px 0.1875em 0px calc(-0.375em - 1px) 

span.icon:not(.button):last-child:not(:first-child)
      margin: 0px 0.1875em 0px 0.375em

span.icon:not(.button):first-child:last-child
      margin: 0px calc(-0.375em - 1px) 0px calc(-0.375em - 1px)


span.icon
	@each $name, $pair in $colors
		$color: nth($pair, 1)
		$color-invert: nth($pair, 2)
		&.#{$name}
			color: $color





	