.input
  position: relative
  font-style: normal
  display: inline-flex
  align-items: center

  & input
      max-width: 100%
      flex: 1 0 auto
      outline: 0
      text-align: left
      line-height: 1.21428571em
      padding: .67857143em 1em
      background: #fff
      border: 1px solid rgba(34,36,38,.15)
      color: rgba(0,0,0,.87)
      border-radius: .28571429rem
      -webkit-transition: box-shadow .1s ease,border-color .1s ease
      transition: box-shadow .1s ease,border-color .1s ease
      box-shadow: none
      &:not(:first-child)
      	padding-left: 2.7em
      &:first-child
      	padding-right: 2.7em
  & .icon
   	  position: absolute
   	  margin: 0!important
   	  width: 2.67142857em
   	  height: 100%
   	  &:first-child
   	  	left: 0
   	  &:last-child
   	  	right: 0