//vars 
$input-text-color: #666
$input-border-color: #e4e3e3
$input-background-color: #fff

//sizes
$input-mini : .78571429rem
$input-tiny : .85714286rem
$input-small : .92857143rem
$input-medium : 1rem
$input-large : 1.14285714rem
$input-big : 1.28571429rem
$input-huge : 1.42857143rem

.input
  position: relative
  font-style: normal
  display: inline-flex
  align-items: center
  vertical-align: top
  & input, select
      max-width: 100%
      flex: 1 0 auto
      outline: 0
      text-align: left
      line-height: 1.21428571em
      padding: .67857143em 1em
      background: $input-background-color
      border: 1px solid $input-border-color
      color: $input-text-color
      border-radius: .28571429rem
      transition: .1s ease all
      box-shadow: none
      font-size: 0.8333em
      vertical-align: top
      &:hover
      	border-color: darken($input-border-color, 10%)
      	color: darken($input-text-color, 30%)
      	& ~ .icon
      		color: darken($input-border-color, 40%)
      &:focus
      	border-color: darken($input-border-color, 30%)
      	color: darken($input-text-color, 60%)
      	& ~ .icon
      		color: darken($input-border-color, 70%)
  &.square
    & input, select
      border-radius: 0px
  &.circle
    & input, select
      border-radius: 50em

  &.icon-left
  	& input
  		padding-left: 2.7em!important
  	& .icon:not(.right)
  		left: 0
  &.icon-right
  	& input
  		padding-right: 2.7em!important
  	& .icon
  		right: 0
  &   .icon
   	  position: absolute
   	  margin: 0!important
   	  width: 2.67142857em!important
   	  height: 100%!important
      color: darken($input-border-color, 20%)
      transition: .1s ease all
  &.loading .icon
    &:before
      +loading
      border-color: lighten($input-text-color, 10%) lighten($input-text-color, 50%) lighten($input-text-color, 50%) lighten($input-text-color, 50%) !important
      width: 0.8em
      height: 0.8em
      left: 50%
      top: 55%
  &.disabled input, input[disabled], &.disabled select, select[disabled]
    opacity: 0.5
    cursor: not-allowed
    pointer-events: none
    background-color: lighten($input-border-color, 5%)

  &.mini
    font-size: $input-mini
  &.tiny
    font-size: $input-tiny
  &.small
    font-size: $input-small
  &.medium
    font-size: $input-medium
  &.large
    font-size: $input-large
  &.big
    font-size: $input-big
  &.huge
    font-size: $input-huge




  //colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.#{$name} 
      & input, select
        color: darken($color, 20%)
        border-color: lighten($color, 10%)
        &:hover
          border-color: darken($color, 7%)
          color: darken($color, 30%)
          & ~ .icon
            color: darken($color, 5%)
        &:focus
          border-color: darken($color, 12%)
          color: darken($color, 20%)
          & ~ .icon
            color: darken($color, 15%)
      & .icon 
        color: lighten($color, 9%)
      &.md
        & input
          background: $input-background-color no-repeat
          background-image: linear-gradient(to bottom, darken($color, 10%),   darken($color, 10%)), linear-gradient(to bottom, lighten($color, 5%), lighten($color, 5%))
          background-size: 0 2px, 100% 1px
          background-position: 50% 100%, 50% 100%


  //material
  &.md
    & input
      border: transparent
      background: $input-background-color no-repeat
      background-image: linear-gradient(to bottom, darken($input-border-color, 50%),   darken($input-border-color, 50%)), linear-gradient(to bottom, $input-border-color, $input-border-color)
      background-size: 0 2px, 100% 1px
      background-position: 50% 100%, 50% 100%
      transition: background-size 0.3s cubic-bezier(0, 0.97, 0.56, 1.16)
      padding-right: 0.5em
      padding-left: 0.5em
      &:focus
        background-size: 100% 2px, 100% 1px
        outline: none



//select input
.input 
  & .select
    display: inline-flex
    flex-direction: row
    align-items: center
    height: 2.3em
    &::after
        border: 1px solid darken($input-border-color, 13%)
        border-right: 0
        border-top: 0
        content: " "
        display: block
        height: 0.5em
        pointer-events: none
        position: absolute
        -webkit-transform: rotate(-45deg)
        transform: rotate(-45deg)
        width: 0.5em
        margin-top: -0.375em
        right: 1.125em
        top: 50%
    &:hover
      &::after
        border-color: darken($input-border-color, 50%)
      & .icon
        color: darken($input-border-color, 40%)      
    & select 
      max-width: auto
      width: 100%
      -webkit-appearance: none
      padding-right: 2.5em
      z-index: 4
      background-color: transparent
    & .icon
      position: relative
      display: inline-flex
      align-items: center
      justify-content: center
      right: -2.5em
      z-index: 3
  &.loading
    & .select
      &::after
        +loading
        right: 0.45em
        border-color: darken($input-border-color, 50%) lighten($input-border-color, 3%) lighten($input-border-color, 3%) lighten($input-border-color, 3%)
        left: initial

  &.icon-left
    & .select
      select
        padding-left: 2.7em
      & .icon.left
        right: initial
        left: initial
        position: absolute
  &.icon-right
    & .select
      select
        padding-right: 4.3em
      & .icon.right
          right: 1.3em
          left: initial
          position: absolute


