//vars 
$input-text-color: #666
$input-border-color: #dedede
$input-background-color: #fff

//sizes
$input-mini : .78571429rem
$input-tiny : .85714286rem
$input-small : .92857143rem
$input-medium : 1rem
$input-large : 1.14285714rem
$input-big : 1.28571429rem
$input-huge : 1.42857143rem

.input
  position: relative
  font-style: normal
  display: inline-flex
  align-items: center

  & input
      max-width: 100%
      flex: 1 0 auto
      outline: 0
      text-align: left
      line-height: 1.21428571em
      padding: .67857143em 1em
      background: $input-background-color
      border: 1px solid $input-border-color
      color: $input-text-color
      border-radius: .28571429rem
      transition: .2s all
      box-shadow: none
      font-size: 0.8em
      &:hover
      	border-color: darken($input-border-color, 10%)
      	color: darken($input-text-color, 30%)
      	& + .icon
      		color: darken($input-border-color, 40%)
      &:focus
      	border-color: darken($input-border-color, 30%)
      	color: darken($input-text-color, 60%)
      	& + .icon
      		color: darken($input-border-color, 70%)

  &.icon-left
  	& input
  		padding-left: 2.7em
  	& .icon
  		left: 0
  &.icon-right
  	& input
  		padding-right: 2.7em
  	& .icon
  		right: 0
  & .icon
   	  position: absolute
   	  margin: 0!important
   	  width: 2.67142857em
   	  height: 100%
      color: darken($input-border-color, 20%)

  &.mini
    font-size: $input-mini
  &.tiny
    font-size: $input-tiny
  &.small
    font-size: $input-small
  &.medium
    font-size: $input-medium
  &.large
    font-size: $input-large
  &.big
    font-size: $input-big
  &.huge
    font-size: $input-huge