$list-padding: .133em
$list-padding-more: .573em
$list-padding-less: .0111em
$list-text-color: #000000

.list
	padding: 0
	list-style-type: none
	color: $list-text-color
	&>.item, li
		list-style-type: none
		display: flex
		padding: $list-padding 0
		align-items: center
		&>.icon
			margin: 0!important
			&.valign-top
				align-self: flex-start
		& .avtar
			width: 2em
			height: 2em
			&:first-child
				margin-right: 0.4em
		& .content
			flex-grow: 1
			margin: 0 .223em
			display: flex
			flex-direction: column
			& .title
				font-weight: 600
			& .desc
				font-size: 0.834em
				color: lighten($list-text-color, 39%)
				margin-top: -0.2em
				margin-bottom: 0.2em
		&.active
			background-color: rgba(0, 0, 0, 0.07)
		&.nowrap
			& .content, & .content .title, & .content .desc
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
		& .actions
			text-align: right
			display: flex
	&.unordered
		li
			display: list-item
			list-style-type: disc
	&.ordered
		li
			display: list-item
			list-style-type: decimal
	&.hovered
		&>.item, li
			&:hover
				background-color: rgba(0,0,0,.03)
				cursor: pointer
	&.padding-more
		&>.item, li
			padding: $list-padding-more 0
	&.padding-less
		&>.item, li
			padding: $list-padding-less 0
	&.horizontal
		display: flex
		&>.item, li
			flex-grow: 1
			padding: $list-padding $list-padding
		& .divider
				border-top: 0
				border-left-width: 1px
				border-left-style: solid
				width: initial

